.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-toggle {
  background-color:  #f8f9fa; /* Black background */
  color: rgb(0, 0, 0); /* White text */
  padding: 4px 4px; /* Padding for button */
  font-size: 0.7rem; /* Adjust font size */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor */
  transition: all 0.3s ease; /* Smooth transition */
  height: 25px;
  width: 25px;
  border-radius: 100%;
}

.language-toggle:hover {
  background-color: rgb(204, 201, 201); /* White background on hover */
  color: black; /* Black text on hover */
  border:  solid 0.1px black;
}



/* src/components/LanguageSwitcher.css
.language-switch {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .language-switch button {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #ffffffdc;
    border-radius: 50px;
    cursor: pointer;
    font-size: 13px;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    height: 30px;
    
  }
  
  .language-switch button:hover {
    background-color: #ddd;
  }
  
  .language-switch button:active {
    background-color: #bbb;
  }
   */